
body{
    text-align: center;
    background: linear-gradient(90deg,
     rgb(79, 165, 123)0%,
      rgb(29, 94, 51)100%);
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}

.square{
    width: 100px;
    height: 100px;
    background-color: brown;
    border: 1px solid gray;
    display: inline-block;
}

.square.X, .square.O{
    cursor: not-allowed;
}

.o{
    position: relative;
}

.o::after{
    position: absolute;
    content: "\1F385";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.x{
    position: relative;
}

.x::after{
    display: fixed;
    position: absolute;
    content: "\1F936";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

